extends layout

block content
  h6.
    Employee ##{employee.employeeNumber}
  h1= title
  h3= employee.jobTitle

  br
  hr
  h6 Reports To
  div
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
      thead
        th Employee #
        th(align='center') Name
        th(align='center') Title
        th(align='center') Office
      tbody
          tr
            td(align='center')
              a(href=employee.hrefReportsTo) #{employee.reportsTo}
            td
              span #{employee.reportsToLastName + ", " + employee.reportsToFirstName }
            td(align='center')
              span #{employee.reportsToJobTitle}
            td(align='center')
              a(href=employee.hrefOffice) #{employee.officeCity}

  br
  hr
  h6 Direct Reports
  div
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
      thead
        th Employee #
        th(align='center') Name
        th(align='center') Title
        th(align='center') Office
      tbody
        each directReport in employee.directReports
          tr
            td(align='center')
              a(href=directReport.href) #{directReport.employeeNumber}
            td
              span #{directReport.lastName + ", " + directReport.firstName }
            td(align='center')
              span #{directReport.jobTitle}
            td(align='center')
              a(href=directReport.hrefOffice) #{directReport.officeCity}