extends layout

block content
  h1= title

  div
    table
      thead
        th Employee #
        th(align='center') Name
        th(align='center') Title
        th(align='center') Office
      tbody
        each row, i in rows
          tr
            td(align='center')
              a(href=row.href) #{row.employeeNumber}
            td
              span #{row.lastName + ", " + row.firstName}
            td(align='center')
              span #{row.jobTitle}
            td(align='center')
              a(href=row.hrefOffice) #{row.officeCity}
