extends layout

block content
  h1= title

  p
    for row in rows
      h2
        - var href = "/office/" + row.officeCode;
        a(href=href)
          p=row.city
      h3=row.phone
      p.
        #{row.addressLine1} #{row.addressLine2}
      p.
        #{row.city}, #{row.state}
        &nbsp;&nbsp; #{row.postalCode}
      p.
        #{row.country}
      br



