extends layout

block content
  h1= title
  - var dateFormat = { year: "numeric", month: "2-digit", day: "2-digit" };

  div
    table
      thead
        th Order #
        th Order Date
        th Status
        th(align='center') Customer
      tbody
        each row, i in rows
          tr
            td(align='left')
              a(href=row.href) #{row.orderNumber}
            td.
              #{row.orderDate.toLocaleDateString("en-US", dateFormat)}
            td.
              #{row.status}
            td
              | #{row.customerName }  (
              a(href=row.hrefCustomer) #{row.customerNumber}
              | )