extends layout

block content
  h1= title
  - var dateFormat = { year: "numeric", month: "2-digit", day: "2-digit" };

  div
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
      thead
        th Order #
        th Order Date
        th Status
        th(align='center') Customer
      tbody
        each order, i in orders
          tr
            td(align='left')
              a(href=order.href) #{order.orderNumber}
            td.
              #{order.orderDate.toLocaleDateString("en-US", dateFormat)}
            td.
              #{order.status}
            td
              | #{order.customerName }  (
              a(href=order.hrefCustomer) #{order.customerNumber}
              | )