extends layout

block content
  h1= title
  - var dateFormat = { year: "numeric", month: "2-digit", day: "2-digit" };
  h3
    | #{order.customerName } (
    a(href=order.hrefCustomer) #{order.customerNumber }
    | )
  hr
  div
    table
      thead
        th Order Date
        th Status
      tbody
        tr
          td.
            #{order.orderDate.toLocaleDateString("en-US", dateFormat)}
          td.
            #{order.status}
    hr
    br
    h3 Items
    hr
    div
      table
        thead
          th Line #
          th Product Code
          th(align='center') Product Name
          th(align='right') Price Each
          th(align='right') Quantity
          th(align='right') Extended Price
        tbody
          each detail, i in order.orderDetails
            tr
              td= detail.orderLineNumber
              td
                a(href=detail.hrefProduct)  #{detail.productCode}
              td= detail.productName
              td(align='right')= detail.priceEachFormatted
              td(align='right')= detail.quantityOrdered
              td(align='right')= detail.priceExtendedFormatted
          tr
            td(colspan=6)
              hr
          tr
            td(colspan=4)
            td
              b Order Total:
            td(align='right')= order.orderTotalFormatted
