extends layout

block content
  - var dateFormat = { year: "numeric", month: "2-digit", day: "2-digit" };
  h1= title

  div
      table
          thead
            th(align='left') Check Number
            th Payment Date
            th Amount
            th
            th(align='center') Customer
          tbody
              each row, i in rows
                  tr
                    td(align='left')
                      a(href=row.href) #{row.checkNumber}
                    td.
                      #{row.paymentDate.toLocaleDateString("en-US", dateFormat)}
                    td(align='right').
                      #{ tools.formatCurrency( row.amount ) }
                    td
                      |
                    td
                      | #{row.customerName }  (
                      a(href=row.hrefCustomer) #{row.customerNumber}
                      | )
