extends layout
include mixins/util

block content
  div.mdl-grid
    -if (typeof(productLineDetail) != "undefined")
      div.mdl-cell.mdl-cell--3-col.graybox
        +productLineCard( productLineDetail )

    div.mdl-cell.mdl-cell--6-col.graybox
      h3= title

      div
        table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
          thead
            th Product Code
            th(align='center') Name
            th(align='center') Product Line
            th(align='center') Scale
            th(align='center') Vendor
          tbody
            -if (typeof(data) != "undefined")
            each product, i in data.result
              tr
                td(align='left')
                  a(href=product.href) #{product.productCode}
                td(align='left') #{product.productName}
                td(align='center')
                  a(href=product.hrefProductLine) #{product.productLine}
                td(align='center') #{product.productScale}
                td(align='center')
                  a(href=product.hrefProductVendor) #{product.productVendor}