extends layout

block content
  h2= product.productLine
  h1= title
  p
    h4 #{"Scale: " + product.productScale }
    h4 #{"Vendor: " + product.productVendor}
    p
      span #{product.productDescription + " (" }
      a(href=product.href)
        span.
          #{product.productCode}
      span )

